@font-face {
    font-family: "Inter";
    src: url("fonts/Inter-VariableFont_slnt,wght.ttf");
}

:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}

*, 
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:is(h1, h2, h3, h4, h5){
    font-family: 'Inter', sans-serif; 
    line-height: 1.2;   
    font-weight: 700;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    background-color: var(--grey-900);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: var(--white);
}

.wrapper {
    background-color: var(--grey-800);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    width: 390px;
}

a.c-btn {
    background-color: var(--grey-700);
    display: block;
    color: var(--white);
    text-decoration: none;
    border-radius: 6px;
    padding: 12px 12px;
}

.clip-ellipse {
    clip-path: ellipse(50px 50px at center);
  }

.accent-color {
    color: var(--green);
}

a:hover {
    background-color: var(--green);
    color: var(--grey-900);
}

.link-wrapper { 
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.img-name-location-wrapper {
    margin-bottom: 30px;
}

.headshot-img {
    width: 100px;
    margin-bottom: 30px;
}

h1.name {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
}

.location {
    font-weight: 600;
}

@media only screen and (max-height: 720px) {
    body {
        height: auto;
        margin: 30px;
    }
}    
@media only screen and (max-width: 490px) {
    body {
        margin-left: 30px;
        margin-right: 30px;
    }
}
   
